:root {
    --link: #f1f5ff;
    --link-border: #946aff;
}

* {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav-link-item {
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.nav-link-item:hover {
    background-color: var(--link);
    border-bottom-color: var(--link-border);
}

.custom-nav-link {
    background-color: var(--link);
    border-bottom-color: var(--link-border);
}